name: quay.io/thanos

on:
  workflow_dispatch:
    inputs:
      reason:
        description: 'run action reason'
        required: false
        type: string
        default: 'manually test'
  schedule:
    - cron: '* */6 * * *'
  push:
    branches:
      - main
      - dev
      - bug/**
      - fix/**
      - bugfix/**
      - feature/**
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  thanos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout result branch
        uses: actions/checkout@v4
        with:
          repository: x-mirrors/gcr.io
          ref: 'thanos'
          token: ${{ secrets.GITHUB_TOKEN }}
          path: gcr.io

      - name: Container Images Sync
        uses: x-actions/python3-cisctl@v2
        env:
          GIT_REPO: "gcr.io"
          SRC_IMAGE_LIST_URL: "https://raw.githubusercontent.com/x-mirrors/gcr.io/${{ github.ref_name }}/quay.io/thanos.txt"
          DEST_REPO: "docker.io/quayiothanos"
          SRC_TRANSPORT: "docker"
          DEST_TRANSPORT: "docker"
          DEST_TRANSPORT_USER: "xsyncs"
          DEST_TRANSPORT_PASSWORD: "${{ secrets.DEST_TRANSPORT_PASSWORD }}"
          LOG_LEVEL: "DEBUG"

      - name: Public result to github
        uses: x-actions/git-push@v1
        continue-on-error: true
        env:
          GITHUB_EMAIL: 'me@xiexianbin.cn'
          GITHUB_USERNAME: 'xiexianbin'
          PUBLISH_REPO: https://${{ secrets.GITHUB_TOKEN }}@github.com/x-mirrors/gcr.io.git
          PUBLISH_BRANCH: thanos
          PUBLISH_DIR: 'gcr.io'
